<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="APP_NAME">demokey2</Property>
        <Property name="DD_API_KEY">${env:DD_API_KEY}</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Http name="DataDog" url="https://http-intake.logs.us3.datadoghq.com/v1/input">
            <Property name="Content-Type" value="application/json" />
            <Property name="DD-API-KEY" value="${DD_API_KEY}" />
            <PatternLayout>
                <pattern>{"message": "%message", "level": "%level", "logger_name": "%logger", "thread_name": "%thread", "timestamp": "%d{ISO8601}", "host": "Mulesoft", "service": "${APP_NAME}"}</pattern>
            </PatternLayout>
        </Http>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="DataDog" />
        </Root>
    </Loggers>
</Configuration>