<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="cloudhub" packages="org.apache.logging.log4j.core">
<Properties>
<Property name="DD_API_KEY">${env:DD_API_KEY}</Property>
</Properties>

<Appenders>

<Console name="Console" target="SYSTEM_OUT">
<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
</Console>

<!-- DataDog HTTP Appender -->
<Http name="DataDog" url="https://http-intake.logs.us3.datadoghq.com/api/v2/logs?host=${sys:hostName}&amp;ddsource=Mulesoft&amp;service=${application.name}&amp;ddtags=env:${env}&amp;dd-api-key=cf0f1ee8ec8ec7efc858fd3b5fe19642" verifyHostname="false" method="POST">
    <Property name="Content-Type" value="application/json" />
    <Property name="DD-API-KEY" value="cf0f1ee8ec8ec7efc858fd3b5fe19642" />
    <PatternLayout>
        <pattern>{"message": "%message", "level": "%level", "logger_name": "%logger", "thread_name": "%thread", "timestamp": "%d{ISO8601}", "host": "Mulesoft", "service": "${APP_NAME}"}</pattern>
    </PatternLayout>
</Http>

<Log4J2CloudhubLogAppender name="CLOUDHUB"
addressProvider="com.mulesoft.ch.logging.DefaultAggregatorAddressProvider"
applicationContext="com.mulesoft.ch.logging.DefaultApplicationContext"
appendRetryIntervalMs="${sys:logging.appendRetryInterval}"
appendMaxAttempts="${sys:logging.appendMaxAttempts}"
batchSendIntervalMs="${sys:logging.batchSendInterval}"
batchMaxRecords="${sys:logging.batchMaxRecords}"
memBufferMaxSize="${sys:logging.memBufferMaxSize}"
journalMaxWriteBatchSize="${sys:logging.journalMaxBatchSize}"
journalMaxFileSize="${sys:logging.journalMaxFileSize}"
clientMaxPacketSize="${sys:logging.clientMaxPacketSize}"
clientConnectTimeoutMs="${sys:logging.clientConnectTimeout}"
clientSocketTimeoutMs="${sys:logging.clientSocketTimeout}"
serverAddressPollIntervalMs="${sys:logging.serverAddressPollInterval}"
serverHeartbeatSendIntervalMs="${sys:logging.serverHeartbeatSendIntervalMs}"
statisticsPrintIntervalMs="${sys:logging.statisticsPrintIntervalMs}">
<PatternLayout pattern="[%d{MM-dd HH:mm:ss}] %-5p %c{1} [%t]: %m%n" />
</Log4J2CloudhubLogAppender>
</Appenders>

<Loggers>
<AsyncLogger name="org.mule.service.http" level="INFO" />
<AsyncLogger name="org.mule.extension.http" level="INFO" />
<AsyncLogger name="org.mule.runtime.core.internal.processor.LoggerMessageProcessor" level="INFO" />

<AsyncRoot level="INFO">
<AppenderRef ref="Console" />
<AppenderRef ref="DataDog" level="INFO"/>
<AppenderRef ref="CLOUDHUB" />
</AsyncRoot>
</Loggers>
</Configuration>